<!DOCTYPE html>

<html>

    <head>
        
        <link rel="stylesheet" href="../static/styles/styles.css" type="text/css">

    </head>

    <body>
        <div class="app">    
            <div class="nav"><p>Voice Cloning!</p></div>

            <div class="video">

                <video id="player" controls>
                    <source src="../static/result_video.mp4" type="video/mp4">
                </video>
                
                <button class="menu" onclick="mainMenu(this)">Main Menu</button>
                <button class="menu" onclick="previousMenu(this)">Previous Menu</button>

            </div>

            <div class="main">

                <div class="inputs">

                    <div class="input-item">
                        <label>Enter an English Sentence:</label>
                        <input type="text" id="sentence"></input>
                    </div>

                    <div class="input-item">
                        <label>Upload an MP4 Video(Optional):</label>
                        <input type="file" id="videoFile" accept="video/mp4" onchange="validateAndUpload(this);" name="input_video" />
                    </div>

                    <div class="recording">
                        <div class="update">
                            <div class="dot"></div>
                            <audio controls class="audio-element"></audio>
                        </div>
                        <div>
                            <button class="startRecordingButton">Record</button>
                            <button class="stopRecordingButton" disabled>Stop</button>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <script src="../static/scripts/audio-recording.js"></script>
        <script src="../static/scripts/index.js"></script>

    </body>

</html>