<!DOCTYPE html>

<html>

    <head>
        
        <link rel="stylesheet" href="../static/styles/styles.css" type="text/css">

    </head>

    <body>
        <div class="app">    
            <div class="nav"><p>Lip Syncing!</p></div>

            <form class="main" method="POST">

                <div class="inputs">

                    <div class="input-item">
                        <label>Choose an option:</label>
                        <select name="choice" id="choice">
                            <option value="clone" selected>Cloner</option>
                            <option value="tts">Text-to-Speech</option>
                        </select>
                    </div>

                    <button class="Submit">Submit</button>

                </div>

            </form>

        </div>

    </body>

</html>